HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

inventory-service/docker/mysql2/data/
order-service/mysql/

# MySQL runtime files
*.pid
*.err
*.cnf
*.log
*.ibd
*.dblwr
ib_logfile*
ibdata*
binlog.*
#innodb*
auto.cnf

# Maven build
target/

# OS specific
.DS_Store
Thumbs.db

.mvn/

docker/mysql2/data/

